html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #233888;
    font-size: 100%;
    font-family: $main-font;
}
ul{
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
p{
	margin: 0;
}

h1, h2, h3, h4, h5{
    margin: 0;
}
a {
    &:link { 
        color: #ffffff; 
        text-decoration: none;
    }
    &:visited { 
        color: #ffffff; 
        text-decoration: none;
    }
    &:hover { 
        color: #ffffff; 
        text-decoration: none;
    }
    &:active { 
        color: #ffffff; 
        text-decoration: none;
    }
}

.test{
    background-color: #233888;
    background-image: url($img-path + 'test.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
