.first-screen{
	max-width: 100%;
	min-height: 100vh;
	background-color: #233888;
	background-image: url($img-path + 'main-bg.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	font-family: $main-font;
	color: #fff;
	.main-header{
		padding: 85px 0 0;
		.lg-wrapper{
			height: 100%;
			.lg-link{
				$width-lg: 145px;
				height: 100%;
				display: flex;
				align-items: center;
				max-width: $width-lg;
				&__img{
					max-width: 100%;
					display: flex;
					align-items: center;
				}
			}
		}
		.main-menu{
			height: 100%;
			&__list{
				height: 100%;
				display: flex;
				align-items: center;
			}
			&__items{	
				&:not(:last-child){
					margin-right: 40px;
				}
			}
			&__link{
				text-transform: capitalize;

			}
		}
		.social-menu{
			height: 100%;
			&__list{
				height: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			&__items{	
				&:not(:last-child){
					margin-right: 13px;
				}
			}
		}
	}
	.wrap-title{
		& > * {
			font-weight: 300;
			font-size: 48px;
			line-height: 1;
			letter-spacing: -2px;
		}
		& span {
			font-weight: 800;
			font-size: 72px;
			line-height: .9;
		}
	}
}

.mb{
	margin-bottom: 180px;
}