.first-screen{
	max-width: 100%;
	height: 100vh;
	min-height: 960px;
	// background-image: url($img-path + 'main-bg.jpg');
	// background-repeat: no-repeat;
	// background-position: left top;
	// background-size: cover;
	font-family: $main-font;
	color: #fff;
	.main-header{
		padding: 85px 0 0;
		.lg-wrapper{
			height: 100%;
			.lg-link{
				$width-lg: 145px;
				height: 100%;
				display: flex;
				align-items: center;
				max-width: $width-lg;
				&__img{
					max-width: 100%;
					display: flex;
					align-items: center;
				}
			}
		}
		.main-menu{
			height: 100%;
			&__list{
				height: 100%;
				display: flex;
				align-items: center;
			}
			&__items{	
				&:not(:last-child){
					margin-right: 40px;
				}
			}
			&__link{
				text-transform: capitalize;

			}
		}
		.social-menu{
			height: 100%;
			&__list{
				height: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			&__items{	
				&:not(:last-child){
					margin-right: 13px;
				}
			}
		}
	}
	.main-content{
		.wrap-title{
			position: relative;
			z-index: 2;
			padding: 180px 0;
			& > * {
				font-weight: 300;
				font-size: 48px;
				line-height: 1;
				letter-spacing: -2px;
			}
			& span {
				font-weight: 800;
				font-size: 72px;
				line-height: .9;
			}
		}
		.all-link{
			.wrapper-btn{
				position: relative;
				z-index: 1;
				max-width: 265px;
				margin-right: 20px;
				&:before{
					position: absolute;
					content: '';
					left: -98%;
					top: 50%;
					transform: translateY(-50%);
					width: 560px;
					height: 560px;		;
					z-index: -1;
					background-image: url($img-path + 'circle.png');
				}
				&:after{
					position: absolute;
					content: '';
					left: -41%;
					top: 50%;
					transform: translateY(-50%);
					width: 288px;
					height: 315px;
					z-index: -1;
					background-image: url($img-path + 'blick.png');
				}
				&__btn{
					@include button;
				}
			}
			.video-link{
				padding-left: 55px;
				font-size: 16px;
				font-weight: 200;
				line-height: 1.4;
				position: relative;
				&:before{
					content: url('../images/play.png');
					position: absolute;
					width: 38px;
					height: 38px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					z-index: 1;
				}
			}
		}
	}	
}
