@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-Thin.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-ThinItalic.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}

@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-ExtraLight.ttf') format('truetype');
font-weight: 200;
font-style: normal;
}
@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-ExtraLightItalic.ttf') format('truetype');
font-weight: 200;
font-style: italic;
}

@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}
@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-LightItalic.ttf') format('truetype');
font-weight: 300;
font-style: italic;
}

@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-Italic.ttf') format('truetype');
font-weight: 400;
font-style: italic;
}

@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}
@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-MediumItalic.ttf') format('truetype');
font-weight: 500;
font-style: italic;
}

@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-Bold.ttf') format('truetype');
font-weight: 700;
font-style: normal;
}
@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-BoldItalic.ttf') format('truetype');
font-weight: 700;
font-style: italic;
}
@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-ExtraBold.ttf') format('truetype');
font-weight: 800;
font-style: normal;
}
@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-ExtraBoldItalic.ttf') format('truetype');
font-weight: 800;
font-style: italic;
}
@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-Heavy.ttf') format('truetype');
font-weight: 900;
font-style: normal;
}
@font-face{
font-family: 'Geometria';
src: url('../../fonts/Geometria-HeavyItalic.ttf') format('truetype');
font-weight: 900;
font-style: italic;
}
