#main-section{
	min-height: 100vh;
	max-width: 100%;
	background-color: #ffffff;
	background-image: url($img-path + 'home-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		bottom: 0;
		background-color: rgba($black-color, 0.25);
	}
	.decoration{
		position: absolute;
		left: 0;
		bottom: -5px;
		width: 100%;
	}
	.elementor-shape-fill{

	}
	.min-h{
		min-height: 90vh;
	}
	.container-logo{
		width: 140px;
		height: 80px;
	}
	.wr-main-img{
		position: relative;
		z-index: 1;
		height: 100%;
		display: flex;
		align-items: center;
		overflow: hidden;
		.main-img{
			animation: matrix3d 10s linear;
		}
	}
	.main-header{
		padding: 6.5px 0;
		position: relative;
		z-index: 10;
		background-color: #ffb404;
		box-shadow: 0 1px 10px rgba($black-color, .5);;
		.st-row{
			@media screen and (max-width: 639px){
				padding: 1em;
			}
		}
		&.fixed-menu-nav{
			padding: .5em 0;
			z-index: 9999;
			position: fixed; 
			left: 0; 
			top: 0; 
			width: 100%;
			background-color: #ffb404;
		}
		&__wrp-logo{
			height: 100%;
			display: flex;
			align-items: center;
			.company-name{
				color: $black-color;
				line-height: 1;
				text-align: center;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 500;
			}
			.logo-color {
				fill: $white-color;
			}
			.fixed-logo-color{
				fill: #303030;
			}
		}
		&__lnk-logo{
			display: flex;
			align-items: center;
			.logo-img {
				max-width: 40px;
				margin-right: 10px;
			}
			.logo-text{
				display: block;
				font-family: $main-font-family;
				font-weight: 700;
				color: $white-color;
				text-align: left;
				font-size: 20px;
				line-height: 1.2;
				max-width: 110px;
				& span{
					color: #ffb404;
				}
			}
		}
		.main-menu{
			min-height: 80px;
			display: flex;
			align-items: center;
			&__items{

			}
			&__list{
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				@media screen and (max-width: 639px){
					display: block;
				}
			}
			&__link{
				text-transform: capitalize;
				font-size: 15px;
				color: $black-color;
				text-transform: uppercase;
				font-family: $main-font-family;
				font-weight: 600;
				position: relative;
				padding: .2em .5em;
			}
		}
	}
	.main-content{
		color: $text-color;
		padding: .5em;
		font-family: $main-font-family;
		position: relative;
		z-index: 2;
		@include max-1023 {
			min-height: 350px;
			align-items: center;
		}
		&__title{
			margin-bottom: 1em;
			& > * {
				font-family: $main-font-family;
				font-size: 40px;
				font-weight: 700;
				line-height: 1.3;
				letter-spacing: 0em;
				@media screen and (max-width: 580px){
					font-size: 30px;
				}
				& span {
					color: #ffb404;
					font-family: $second-font-family;
				}
			}
		}
		&__subtitle{
			font-size: 18px;
			font-weight: 400;
			line-height: 1.77;
			margin-bottom: 1em;
		}
		&__button{
			@include m-button(transparent,#1796c6);
		}
	}
}
@keyframes animate-circle {
	0%{
		transform: rotate(0);
	}
	50%{
		transform: rotate(20deg);
	}
	100%{
		transform: rotate(0);
	}
}

@keyframes nanimate {
	0%{
		width: 100%;
	}
	100%{
		width: 0;
	}
}
@keyframes clickMe {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	5% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}