$img-path: '../images/';




$main-color-text: #fff;
$black-color: #000000;
$bg-color-srv: #F4F7FA;
$second-color: #9B2D30;
$style-wrapp-color: #313541;
$white-color: #fff;
$red-color: #D90001;
$light-green: rgb(22, 67, 150);
$main-bg-color: #F1F8FF;



$decor-line-color: #E3E3E3;


$main-font-family: 'Montserrat', sans-serif;
$second-font-family: 'Merienda', sans-serif;
$transition-duration: 0.5s;
//Text
$text-color: #ffffff;
$menu-color: #ffffff;


$text-color-second: #ffffff;
$text-color-subtitle: #5d5d5d;
$header-bg-color: #ffffff;

$main-site-color: #00d9a6;

///Link
$active-link-color: #f58200;


///Button style
$button-bg-color: #00d9a6;
$button-bg-color-h: rgb(22, 67, 150);
